body{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  background-color: rgb(9, 17, 41);
}
.formularios{
  width: 45%;
}
.mapaBusqueda{
  width: 45%;


}
table,th,tr,td{
  border: 1px solid #ef8b10;
  border-collapse: collapse;
  color: white;
  font-size: 20px;
  padding: 10px;
}
th{
  color: #ef8b10;
  font-weight: 900;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
form div,fieldset div{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-content: center;
 align-items: center;
 border: 1px dotted #ef8b10;
 border-radius: 2px;
 padding: 5px;
 width: 95%;
}
label{
  color: #ef8b10;
  padding: 15px;
  font-weight: 600;
}
fieldset{
  color: #ef8b10;
  padding: 20px;
  width: 95%;
}
p{
  color: #ef8b10;

}
input{
  color: white;
  width: 60%;
  font-size: 20px;
 padding: 5px;
background-color: rgb(36, 43, 65);
}
input:focus{
  border: 2px solid #ef8b10;
background-color: rgb(19, 25, 46);

}
input[type='radio']{
  margin-top: -30px;
}
input[type='submit']{
  text-decoration: none;
      cursor: pointer;
      font-size: 21px;
      border: none;
      outline: none;
      color: black;
      padding: 14px 16px;
      background-color: #ef8b10;
      border-radius: 5px;
      margin: 5px;
}
.ubicaOcultar{
  /* display: none; */
}
.mesasOculto{
  display: none;
}
.escogida{
  background-color: rgb(0, 255, 0);
}
.libre{
  background-color: white;
}
.ocupada{
  background-color: rgb(223, 47, 47);
}

.parent{
  overflow: hidden;
  position: relative;
  width: 945px;
  height: 710px;
  border: 1px solid #ef8b10;
border-radius: 5px;

}
.plano{
  width: 2800px;
  height: 2100px;
 /*  width: 2800px;
  height: 2100px; */
/* $plano.style.transform = `scale (${zoom})`; */
  position: absolute;
  border: 1px solid #000;
  background-color: green;
  zoom: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.plano img{
  width: 2800px;
  height: 2100px;

  /* 
   width: 2800px;
  height: 2100px; 
  */
}
.mesa{
  position: absolute;
  border: 1px solid rgb(46, 46, 46);
  width: 22px;
  height: 13px;
  z-index: 10;

  font-size: 8px;
  display: flex;
}

.m0{
  top: 660px;
  left: 765px;
}
.m1{
  top: 675px;
  left: 765px;
}
.m2{
  top: 691px;
  left: 765px;
}
/*  */
.m3{
  top: 665px;
  left: 800px;
}
.m4{
  top: 665px;
  left: 825px;
}
.m5{
  top: 665px;
  left: 850px;
}
/*  */
.m6{
  top: 685px;
  left: 800px;
}
.m7{
  top: 685px;
  left: 825px;
}
/*  */
.m8{
  top: 725px;
  left: 800px;
}
.m9{
  top: 725px;
  left: 825px;;
}
/*  */
.m10{
  top: 765px;
  left: 800px;
}
.m11{
  top: 765px;
  left: 825px;
}
/*  */
.m12{
  top: 645px;
  left: 905px;;
}
.m13{
  top: 645px;
  left: 930px;
}
/*  */
.m14{
  top: 665px;
  left: 905px;;
}
.m15{
  top: 665px;
  left: 930px;
}
/*  */
.m16{
  top: 685px;
  left: 880px;;
}
.m17{
  top: 685px;
  left: 905px;
}
.m18{
  top: 685px;
  left: 930px;;
}
/*  */
.m19{
  top: 705px;
  left: 880px;
}
.m20{
  top: 705px;
  left: 905px;;
}
.m21{
  top: 705px;
  left: 930px;
}
/*  */
.m22{
  top: 725px;
  left: 905px;
}
.m23{
  top: 725px;
  left: 930px;;
}
/*  */
.m24{
  top: 745px;
  left: 880px;
}
/*  */
.m25{
  top: 765px;
  left: 880px;;
}
.m26{
  top: 765px;
  left: 905px;
}
/*  */
.m27{
  top: 685px;
  left: 960px;;
}
.m28{
  top: 685px;
  left: 985px;
}
.m29{
  top: 685px;
  left: 1010px;;
}
/*  */
.m30{
  top: 705px;
  left: 960px;
}
.m31{
  top: 705px;
  left: 985px;
}
.m32{
  top: 705px;
  left: 1010px;
}
/*  */
.m33{
  top: 725px;
  left: 960px;
}
.m34{
  top: 725px;
  left: 985px;
}
.m35{
  top: 725px;
  left: 1010px;
}
/*  */
.m36{
  top: 745px;
  left: 985px;
}
.m37{
  top: 745px;
  left: 1010px;
}
/*  */
.m38{
  top: 765px;
  left: 960px;
}
.m39{
  top: 765px;
  left: 985px;
}
.m40{
  top: 765px;
  left: 1010px;
}
/*  */
.m41{
  top: 785px;
  left: 960px;
}
.m42{
  top: 785px;
  left: 985px;
}
.m43{
  top: 785px;
  left: 1010px;
}
/*  */
.m44{
  top: 625px;
  left: 1040px;
}
.m45{
  top: 625px;
  left: 1065px;
}
.m46{
  top: 625px;
  left: 1090px;
}
.m47{
  top: 625px;
  left: 1115px;
}
/*  */
.m48{
  top: 645px;
  left: 1040px;
}
.m49{
  top: 645px;
  left: 1065px;
}
.m50{
  top: 645px;
  left: 1090px;
}
.m51{
  top: 645px;
  left: 1115px;
}
/*  */
.m52{
  top: 685px;
  left: 1040px;
}
.m53{
  top: 685px;
  left: 1065px;
}
.m54{
  top: 685px;
  left: 1090px;
}
.m55{
  top: 685px;
  left: 1115px;
}
/*  */
.m56{
  top: 705px;
  left: 1040px;
}
.m57{
  top: 705px;
  left: 1065px;
}
.m58{
  top: 705px;
  left: 1090px;
}
.m59{
  top: 705px;
  left: 1115px;
}
/*  */
.m60{
  top: 725px;
  left: 1040px;
}
.m61{
  top: 725px;
  left: 1065px;
}
.m62{
  top: 725px;
  left: 1090px;
}
.m63{
  top: 725px;
  left: 1115px;
}
/*  */
.m64{
  top: 745px;
  left: 1040px;
}
.m65{
  top: 745px;
  left: 1065px;
}
.m66{
  top: 745px;
  left: 1090px;
}
.m67{
  top: 745px;
  left: 1115px;
}
/*  */
.m68{
  top: 765px;
  left: 1040px;
}
.m69{
  top: 765px;
  left: 1065px;
}
.m70{
  top: 765px;
  left: 1090px;
}
.m71{
  top: 765px;
  left: 1115px;
}
/*  */
.m72{
  top: 785px;
  left: 1040px;
}
.m73{
  top: 785px;
  left: 1065px;
}
.m74{
  top: 785px;
  left: 1090px;
}
.m75{
  top: 785px;
  left: 1115px;
}
/*  */
.m76{
  top: 805px;
  left: 1040px;
}
.m77{
  top: 805px;
  left: 1065px;
}
.m78{
  top: 805px;
  left: 1090px;
}
.m79{
  top: 805px;
  left: 1115px;
}
/*  */
.m80{
  top: 625px;
  left: 1200px;
} 
.m81{
  top: 625px;
  left: 1225px;
}
/*  */
.m82{
  top: 645px;
  left: 1200px;
}
.m83{
  top: 645px;
  left: 1225px;
}
/*  */
.m84{
  top: 665px;
  left: 1200px;
}
.m85{
  top: 665px;
  left: 1225px;
}
/*  */
.m86{
  top: 685px;
  left: 1200px;
}
.m87{
  top: 685px;
  left: 1225px;
}
/*  */
.m88{
  top: 705px;
  left: 1200px;
}
.m89{
  top: 705px;
  left: 1225px;
}
/*  */
.m90{
  top: 725px;
  left: 1200px;
}
.m91{
  top: 725px;
  left: 1225px;
}
/*  */
.m92{
  top: 745px;
  left: 1200px;
}
.m93{
  top: 745px;
  left: 1225px;
}
/*  */
.m94{
  top: 765px;
  left: 1185px;
}
.m95{
  top: 765px;
  left: 1210px;
}
.m96{
  top: 765px;
  left: 1235px;
}
/*  */
.m97{
  top: 785px;
  left: 1200px;
}
.m98{
  top: 785px;
  left: 1225px;
}
/*  */
.m99{
  top: 805px;
  left: 1185px;
}
.m100{
  top: 805px;
  left: 1210px;
}
.m101{
  top: 805px;
  left: 1235px;
}
/*  */
.m102{
  top: 660px;
  left: 1265px;

  height: 22px;
  width: 13px;
}
.m103{
  top: 695px;
  left: 1265px;

  height:  22px;
  width:  13px;
}
.m104{
  top: 730px;
  left: 1265px;

  height: 22px;
  width:  13px;
}
/*  */
.m105{
  top: 625px;
  left: 1285px;
}
.m106{
  top: 625px;
  left: 1310px;
}
.m107{
  top: 625px;
  left: 1335px;
}
.m108{
  top: 625px;
  left: 1360px;
}
/*  */
.m109{
  top: 645px;
  left: 1295px;
}
.m110{
  top: 645px;
  left: 1320px;
}
.m111{
  top: 645px;
  left: 1345px;
}
/*  */
.m112{
  top: 665px;
  left: 1295px;
}
.m113{
  top: 665px;
  left: 1320px;
}
.m114{
  top: 665px;
  left: 1345px;
}
/*  */
.m115{
  top: 685px;
  left: 1295px;
}
.m116{
  top: 685px;
  left: 1320px;
}
.m117{
  top: 685px;
  left: 1345px;
}
/*  */
.m118{
  top: 705px;
  left: 1295px;
}
.m119{
  top: 705px;
  left: 1320px;
}
.m120{
  top: 705px;
  left: 1345px;
}
/*  */
.m121{
  top: 725px;
  left: 1320px;
}
.m122{
  top: 725px;
  left: 1345px;
}
/*  */
.m123{
  top: 745px;
  left: 1320px;
}
.m124{
  top: 745px;
  left: 1345px;
}
/*  */
.m125{
  top: 765px;
  left: 1295px;
}
.m126{
  top: 765px;
  left: 1320px;
}
.m127{
  top: 765px;
  left: 1345px;
}
/*  */
.m128{
  top: 785px;
  left: 1295px;
}
.m129{
  top: 785px;
  left: 1320px;
}
.m130{
  top: 785px;
  left: 1345px;
}
/*  */
.m131{
  top: 805px;
  left: 1275px;
}
.m132{
  top: 805px;
  left: 1300px;
}
.m133{
  top: 805px;
  left: 1325px;
}
.m134{
  top: 805px;
  left: 1350px;
}
/*  */
.m135{
  top: 825px;
  left: 1275px;
}
.m136{
  top: 825px;
  left: 1300px;
}
.m137{
  top: 825px;
  left: 1325px;
}
.m138{
  top: 825px;
  left: 1350px;
}
/*  */
.m139{
  top: 625px;
  left: 1410px;
}
.m140{
  top: 615px;
  left: 1465px;
}
/*  */
.m141{
  top: 645px;
  left: 1410px;
}
.m142{
  top: 645px;
  left: 1435px;
}
/*  */
.m143{
  top: 665px;
  left: 1410px;
}
.m144{
  top: 665px;
  left: 1435px;
}
/*  */
.m145{
  top: 685px;
  left: 1410px;
}
.m146{
  top: 685px;
  left: 1435px;
}
/*  */
.m147{
  top: 705px;
  left: 1390px;
}
.m148{
  top: 705px;
  left: 1415px;
}
.m378{
  top: 705px;
  left: 1440px;
}
/*  */
.m149{
  top: 725px;
  left: 1410px;
}
.m150{
  top: 725px;
  left: 1435px;
}/*  */
.m151{
  top: 745px;
  left: 1410px;
}
.m152{
  top: 745px;
  left: 1435px;
}
/*  */
.m153{
  top: 765px;
  left: 1410px;
}
.m154{
  top: 765px;
  left: 1435px;
}
/*  */
.m155{
  top: 785px;
  left: 1410px;
}
.m156{
  top: 785px;
  left: 1435px;
}
/*  */
.m157{
  top: 805px;
  left: 1410px;
}
.m158{
  top: 805px;
  left: 1435px;
}
.m159{
  top: 615px;
  left: 1490px;
}
.m160{
  top: 615px;
  left: 1515px;
}
.m161{
  top: 635px;
  left: 1490px;
}
.m162{
  top: 635px;
  left: 1515px;
}
.m163{
  top: 655px;
  left: 1490px;
}
.m164{
  top: 655px;
  left: 1515px;
}
.m165{
  top: 675px;
  left: 1490px;
}
.m166{
  top: 675px;
  left: 1515px;
}
.m167{
  top: 695px;
  left: 1490px;
}
.m168{
  top: 695px;
  left: 1515px;
}
.m169{
  top: 715px;
  left: 1490px;
}
.m170{
  top: 715px;
  left: 1515px;
}
.m171{
  top: 735px;
  left: 1490px;
}
.m172{
  top: 735px;
  left: 1515px;
}
.m173{
  top: 755px;
  left: 1490px;
}
.m174{
  top: 755px;
  left: 1515px;
}
.m175{
  top: 775px;
  left: 1490px;
}
.m176{
  top: 775px;
  left: 1515px;
}
.m177{
  top: 795px;
  left: 1490px;
}
.m178{
  top: 795px;
  left: 1515px;
}
.m179{
  top: 815px;
  left: 1490px;
}
.m180{
  top: 835px;
  left: 1490px;
}
.m181{
  top: 835px;
  left: 1515px;
}
.m182{
  top: 835px;
  left: 1540px;
}
/*  */
.m183{
  top: 610px;
  left: 1560px;
}
.m184{
  top: 610px;
  left: 1585px;
}
.m185{
  top: 630px;
  left: 1560px;
}
.m186{
  top: 630px;
  left: 1585px;
}
.m187{
  top: 650px;
  left: 1560px;
}
.m188{
  top: 650px;
  left: 1585px;
}
.m189{
  top: 670px;
  left: 1560px;
}
.m190{
  top: 670px;
  left: 1585px;
}
.m191{
  top: 690px;
  left: 1560px;
}
.m192{
  top: 690px;
  left: 1585px;
}
.m193{
  top: 710px;
  left: 1560px;
}
.m194{
  top: 710px;
  left: 1585px;
}
.m195{
  top: 730px;
  left: 1560px;
}
.m196{
  top: 730px;
  left: 1585px;
}
.m197{
  top: 750px;
  left: 1560px;
}
.m198{
  top: 750px;
  left: 1585px;
}
.m199{
  top: 770px;
  left: 1560px;
}
.m200{
  top: 770px;
  left: 1585px;
}
.m201{
  top: 795px;
  left: 1560px;
}
.m202{
  top: 795px;
  left: 1585px;
}
.m203{
  top: 815px;
  left: 1560px;
}
.m204{
  top: 815px;
  left: 1585px;
}
.m205{
  top: 855px;
  left: 1540px;
}
.m206{
  top: 855px;
  left: 1565px;
}
/*  */
.m207{
  top: 610px;
  left: 1640px;
}
.m208{
  top: 610px;
  left: 1665px;
}
.m209{
  top: 610px;
  left: 1690px;
}
.m210{
  top: 630px;
  left: 1640px;
}
.m211{
  top: 630px;
  left: 1665px;
}
.m212{
  top: 630px;
  left: 1690px;
}
.m213{
  top: 650px;
  left: 1640px;
}
.m214{
  top: 650px;
  left: 1665px;
}
.m215{
  top: 670px;
  left: 1640px;
}
.m216{
  top: 670px;
  left: 1665px;
}
.m217{
  top: 690px;
  left: 1640px;
}
.m218{
  top: 690px;
  left: 1665px;
}
.m219{
  top: 690px;
  left: 1690px;
}
.m220{
  top: 710px;
  left: 1640px;
}
.m221{
  top: 710px;
  left: 1665px;
}
.m222{
  top: 730px;
  left: 1640px;
}
.m223{
  top: 730px;
  left: 1665px;
}
.m224{
  top: 750px;
  left: 1640px;
}
.m225{
  top: 750px;
  left: 1665px;
}
.m226{
  top: 770px;
  left: 1640px;
}
.m227{
  top: 770px;
  left: 1665px;
}
.m228{
  top: 770px;
  left: 1690px;
}
.m229{
  top: 790px;
  left: 1640px;
}
.m230{
  top: 790px;
  left: 1665px;
}
.m231{
  top: 810px;
  left: 1640px;
}
.m232{
  top: 810px;
  left: 1665px;
}
.m233{
  top: 830px;
  left: 1640px;
}
.m234{
  top: 830px;
  left: 1665px;
}
.m235{
  top: 855px;
  left: 1665px;

}
.m236{
  top: 855px;
  left: 1690px;

}
.m237{
  top: 855px;
  left: 1715px;

}
.m238{
  top: 875px;
  left: 1665px;

}
.m239{
  top: 875px;
  left: 1690px;

}
.m240{
  top: 875px;
  left: 1715px;
}
.m241{
  top: 895px;
  left: 1665px;

}
.m242{
  top: 895px;
  left: 1690px;

}
.m243{
  top: 895px;
  left: 1715px;
}
.m244{
  top: 915px;
  left: 1665px;

}
.m245{
  top: 915px;
  left: 1690px;

}
.m246{
  top: 915px;
  left: 1715px;
}
.m247{
  top: 590px;
  left: 1640px;

}
.m248{
  top: 590px;
  left: 1665px;

}
.m249{
  top: 590px;
  left: 1690px;
}
/* carpa */
.m250{
  top: 895px;
  left: 1590px;

  height: 22px;
  width:  13px;
}
.m251{
  top: 920px;
  left: 1590px;

  height: 22px;
  width:  13px;
}
.m252{
  top: 945px;
  left: 1590px;

  height: 22px;
  width:  13px;
}
.m253{
  top: 985px;
  left: 1590px;

  height: 22px;
  width:  13px;
}
.m254{
  top: 1010px;
  left: 1590px;

  height: 22px;
  width:  13px;
}
.m255{
  top: 895px;
  left: 1570px;

  height: 22px;
  width:  13px;
}
.m256{
  top: 920px;
  left: 1570px;

  height: 22px;
  width:  13px;
}
.m257{
  top: 945px;
  left: 1570px;

  height: 22px;
  width:  13px;
}
.m258{
  top: 985px;
  left: 1570px;

  height: 22px;
  width:  13px;
}
.m259{
  top: 1010px;
  left: 1570px;

  height: 22px;
  width:  13px;
}
.m260{
  top: 895px;
  left: 1550px;

  height: 22px;
  width:  13px;
}
.m261{
  top: 920px;
  left: 1550px;

  height: 22px;
  width:  13px;
}
.m262{
  top: 945px;
  left: 1550px;

  height: 22px;
  width:  13px;
}
.m263{
  top: 985px;
  left: 1550px;

  height: 22px;
  width:  13px;
}
.m264{
  top: 1010px;
  left: 1550px;

  height: 22px;
  width:  13px;
}
.m265{
  top: 895px;
  left: 1530px;

  height: 22px;
  width:  13px;
}
.m266{
  top: 920px;
  left: 1530px;

  height: 22px;
  width:  13px;
}
.m267{
  top: 945px;
  left: 1530px;

  height: 22px;
  width:  13px;
}
.m268{
  top: 985px;
  left: 1530px;

  height: 22px;
  width:  13px;
}
.m269{
  top: 1010px;
  left: 1530px;

  height: 22px;
  width:  13px;
}
.m270{
  top: 895px;
  left: 1510px;

  height: 22px;
  width:  13px;
}
.m271{
  top: 920px;
  left: 1510px;

  height: 22px;
  width:  13px;
}
.m272{
  top: 945px;
  left: 1510px;

  height: 22px;
  width:  13px;
}
.m273{
  top: 985px;
  left: 1510px;

  height: 22px;
  width:  13px;
}
.m274{
  top: 1010px;
  left: 1510px;

  height: 22px;
  width:  13px;
}
.m275{
  top: 895px;
  left: 1490px;

  height: 22px;
  width:  13px;
}
.m276{
  top: 920px;
  left: 1490px;

  height: 22px;
  width:  13px;
}
.m277{
  top: 945px;
  left: 1490px;

  height: 22px;
  width:  13px;
}
.m278{
  top: 985px;
  left: 1490px;

  height: 22px;
  width:  13px;
}
.m279{
  top: 1010px;
  left: 1490px;

  height: 22px;
  width:  13px;
}
.m280{
  top: 895px;
  left: 1470px;

  height: 22px;
  width:  13px;
}
.m281{
  top: 920px;
  left: 1470px;

  height: 22px;
  width:  13px;
}
.m282{
  top: 945px;
  left: 1470px;

  height: 22px;
  width:  13px;
}
.m283{
  top: 985px;
  left: 1470px;

  height: 22px;
  width:  13px;
}
.m284{
  top: 1010px;
  left: 1470px;

  height: 22px;
  width:  13px;
}
.m285{
  top: 895px;
  left: 1450px;

  height: 22px;
  width:  13px;
}
.m286{
  top: 920px;
  left: 1450px;

  height: 22px;
  width:  13px;
}
.m287{
  top: 945px;
  left: 1450px;

  height: 22px;
  width:  13px;
}
.m288{
  top: 985px;
  left: 1450px;

  height: 22px;
  width:  13px;
}
.m289{
  top: 1010px;
  left: 1450px;

  height: 22px;
  width:  13px;
}
.m290{
  top: 895px;
  left: 1430px;

  height: 22px;
  width:  13px;
}
.m291{
  top: 920px;
  left: 1430px;

  height: 22px;
  width:  13px;
}
.m292{
  top: 945px;
  left: 1430px;

  height: 22px;
  width:  13px;
}
.m293{
  top: 985px;
  left: 1430px;

  height: 22px;
  width:  13px;
}
.m294{
  top: 1010px;
  left: 1430px;

  height: 22px;
  width:  13px;
}
.m295{
  top: 895px;
  left: 1410px;

  height: 22px;
  width:  13px;
}
.m296{
  top: 920px;
  left: 1410px;

  height: 22px;
  width:  13px;
}
.m297{
  top: 945px;
  left: 1410px;

  height: 22px;
  width:  13px;
}
.m298{
  top: 985px;
  left: 1410px;

  height: 22px;
  width:  13px;
}
.m299{
  top: 1010px;
  left: 1410px;

  height: 22px;
  width:  13px;
}
.m300{
  top: 895px;
  left: 1390px;

  height: 22px;
  width:  13px;
}
.m301{
  top: 920px;
  left: 1390px;

  height: 22px;
  width:  13px;
}
.m302{
  top: 945px;
  left: 1390px;

  height: 22px;
  width:  13px;
}
.m303{
  top: 985px;
  left: 1390px;

  height: 22px;
  width:  13px;
}
.m304{
  top: 1010px;
  left: 1390px;

  height: 22px;
  width:  13px;
}
.m305{
  top: 895px;
  left: 1370px;

  height: 22px;
  width:  13px;
}
.m306{
  top: 920px;
  left: 1370px;

  height: 22px;
  width:  13px;
}
.m307{
  top: 945px;
  left: 1370px;

  height: 22px;
  width:  13px;
}
.m308{
  top: 985px;
  left: 1370px;

  height: 22px;
  width:  13px;
}
.m309{
  top: 1010px;
  left: 1370px;

  height: 22px;
  width:  13px;
}
.m310{
  top: 895px;
  left: 1350px;

  height: 22px;
  width:  13px;
}
.m311{
  top: 920px;
  left: 1350px;

  height: 22px;
  width:  13px;
}
.m312{
  top: 945px;
  left: 1350px;

  height: 22px;
  width:  13px;
}
.m313{
  top: 985px;
  left: 1350px;

  height: 22px;
  width:  13px;
}
.m314{
  top: 1010px;
  left: 1350px;

  height: 22px;
  width:  13px;
}
.m315{
  top: 895px;
  left: 1330px;

  height: 22px;
  width:  13px;
}
.m316{
  top: 920px;
  left: 1330px;

  height: 22px;
  width:  13px;
}
.m317{
  top: 945px;
  left: 1330px;

  height: 22px;
  width:  13px;
}
.m318{
  top: 985px;
  left: 1330px;

  height: 22px;
  width:  13px;
}
.m319{
  top: 1010px;
  left: 1330px;

  height: 22px;
  width:  13px;
}
.m320{
  top: 895px;
  left: 1310px;

  height: 22px;
  width:  13px;
}
.m321{
  top: 920px;
  left: 1310px;

  height: 22px;
  width:  13px;
}
.m322{
  top: 945px;
  left: 1310px;

  height: 22px;
  width:  13px;
}
.m323{
  top: 985px;
  left: 1310px;

  height: 22px;
  width:  13px;
}
.m324{
  top: 1010px;
  left: 1310px;

  height: 22px;
  width:  13px;
}
.m325{
  top: 895px;
  left: 1290px;

  height: 22px;
  width:  13px;
}
.m326{
  top: 920px;
  left: 1290px;

  height: 22px;
  width:  13px;
}
.m327{
  top: 945px;
  left: 1290px;

  height: 22px;
  width:  13px;
}
.m328{
  top: 985px;
  left: 1290px;

  height: 22px;
  width:  13px;
}
.m329{
  top: 1010px;
  left: 1290px;

  height: 22px;
  width:  13px;
}
.m330{
  top: 895px;
  left: 1270px;

  height: 22px;
  width:  13px;
}
.m331{
  top: 920px;
  left: 1270px;

  height: 22px;
  width:  13px;
}
.m332{
  top: 945px;
  left: 1270px;

  height: 22px;
  width:  13px;
}
.m333{
  top: 985px;
  left: 1270px;

  height: 22px;
  width:  13px;
}
.m334{
  top: 1010px;
  left: 1270px;

  height: 22px;
  width:  13px;
}
.m335{
  top: 895px;
  left: 1250px;

  height: 22px;
  width:  13px;
}
.m336{
  top: 920px;
  left: 1250px;

  height: 22px;
  width:  13px;
}
.m337{
  top: 945px;
  left: 1250px;

  height: 22px;
  width:  13px;
}
.m338{
  top: 985px;
  left: 1250px;

  height: 22px;
  width:  13px;
}
.m339{
  top: 1010px;
  left: 1250px;

  height: 22px;
  width:  13px;
}
.m340{
  top: 895px;
  left: 1230px;

  height: 22px;
  width:  13px;
}
.m341{
  top: 920px;
  left: 1230px;

  height: 22px;
  width:  13px;
}
.m342{
  top: 945px;
  left: 1230px;

  height: 22px;
  width:  13px;
}
.m343{
  top: 985px;
  left: 1230px;

  height: 22px;
  width:  13px;
}
.m344{
  top: 1010px;
  left: 1230px;

  height: 22px;
  width:  13px;
}
.m345{
  top: 895px;
  left: 1210px;

  height: 22px;
  width:  13px;
}
.m346{
  top: 920px;
  left: 1210px;

  height: 22px;
  width:  13px;
}
.m347{
  top: 945px;
  left: 1210px;

  height: 22px;
  width:  13px;
}
.m348{
  top: 985px;
  left: 1210px;

  height: 22px;
  width:  13px;
}
.m349{
  top: 1010px;
  left: 1210px;

  height: 22px;
  width:  13px;
}
.m350{
  top: 895px;
  left: 1190px;

  height: 22px;
  width:  13px;
}
.m351{
  top: 920px;
  left: 1190px;

  height: 22px;
  width:  13px;
}
.m352{
  top: 945px;
  left: 1190px;

  height: 22px;
  width:  13px;
}
.m353{
  top: 985px;
  left: 1190px;

  height: 22px;
  width:  13px;
}
.m354{
  top: 1010px;
  left: 1190px;

  height: 22px;
  width:  13px;
}
.m355{
  top: 895px;
  left: 1170px;

  height: 22px;
  width:  13px;
}
.m356{
  top: 920px;
  left: 1170px;

  height: 22px;
  width:  13px;
}
.m357{
  top: 945px;
  left: 1170px;

  height: 22px;
  width:  13px;
}
.m358{
  top: 985px;
  left: 1170px;

  height: 22px;
  width:  13px;
}
.m359{
  top: 1010px;
  left: 1170px;

  height: 22px;
  width:  13px;
}
.m360{
  top: 895px;
  left: 1150px;

  height: 22px;
  width:  13px;
}
.m361{
  top: 920px;
  left: 1150px;

  height: 22px;
  width:  13px;
}
.m362{
  top: 945px;
  left: 1150px;

  height: 22px;
  width:  13px;
}
.m363{
  top: 985px;
  left: 1150px;

  height: 22px;
  width:  13px;
}
.m364{
  top: 1010px;
  left: 1150px;

  height: 22px;
  width:  13px;
}
.m365{
  top: 895px;
  left: 1130px;

  height: 22px;
  width:  13px;
}
.m366{
  top: 920px;
  left: 1130px;

  height: 22px;
  width:  13px;
}
.m367{
  top: 945px;
  left: 1130px;

  height: 22px;
  width:  13px;
}
.m368{
  top: 985px;
  left: 1130px;

  height: 22px;
  width:  13px;
}
.m369{
  top: 1010px;
  left: 1130px;

  height: 22px;
  width:  13px;
}
.m370{
  top: 895px;
  left: 1110px;

  height: 22px;
  width:  13px;
}
.m371{
  top: 920px;
  left: 1110px;

  height: 22px;
  width:  13px;
}
.m372{
  top: 945px;
  left: 1110px;

  height: 22px;
  width:  13px;
}
.m373{
  top: 985px;
  left: 1110px;

  height: 22px;
  width:  13px;
}
.m374{
  top: 1010px;
  left: 1110px;

  height: 22px;
  width:  13px;
}

.m375{
  top: 855px;
  left: 1515px;
}
.m376{
  top: 855px;
  left: 1490px;
}
.m377{
  top: 915px;
  left: 1745px;

  height: 22px;
  width:  13px;
}
